.constrained-container {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.vault {
    &-section {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;

    }

    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--semantic-color-slate-solid-surface-frame-mid);
    }

    &-header {
        display: flex;
        padding: var(--core-spacing-400);
        background-color: var(--core-color-solid-slate-50);
        position: relative;
        z-index: 2;

        .brand {
            display: flex;
            align-items: center;
            gap: var(--core-spacing-400);

            .logo {

                img,
                svg {
                    width: 64px;
                    height: 64px;
                }
            }

            .version-box {
                display: flex;
                flex-direction: column;
                gap: var(--core-spacing-100);

                .app-name {
                    text-transform: uppercase;
                }
            }
        }
    }

    &-body {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
    }

    &-sidebar {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 200px;
        height: 100%;
        border-right: solid 1px var(--core-color-solid-slate-50);
        padding: var(--core-spacing-800);

        .menu-option {
            display: flex;
            flex-direction: column;
            padding: var(--core-spacing-400) 0;
            gap: var(--core-spacing-400);
            height: calc(100dvh - 140px);
            overflow: auto;

            .quill-dropdown__divider {
                flex: none;
            }

            &::-webkit-scrollbar {
                scrollbar-width: thin;
                width: var(--core-size-200);
                background-color: transparent;
                border-radius: var(--core-borderRadius-500);
            }

            &::-webkit-scrollbar-track {
                scrollbar-width: thin;
                background-color: transparent !important;
            }

            // &:hover {
            //     scrollbar-width: thin;
            //     scrollbar-color: rgba(0, 0, 0, 0.08) transparent;
            //     border-radius: var(--core-borderRadius-500);

            //     &::-webkit-scrollbar-thumb {
            //         scrollbar-width: thin;
            //         display: unset;
            //         border-radius: var(--core-borderRadius-500);
            //         background-color: rgba(0, 0, 0, 0.08);
            //     } 
            // }     
        }

        .sidebar-item-box {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: var(--core-spacing-800);
            gap: var(--core-spacing-100);
            text-transform: capitalize;

            .link {
                margin-left: var(--core-size-400);

                &:hover {
                    text-decoration: underline;
                }
            }

            .item-box {
                display: flex;
                justify-content: space-between;
                padding: var(--core-spacing-100) var(--core-spacing-400);
                border-radius: var(--core-borderRadius-100);

                &:hover,&.active {
                    cursor: pointer;
                    background: var(--semantic-color-slate-solid-surface-inverse-high);

                    p {
                        color: var(--semantic-color-slate-solid-surface-frame-low);
                    }
                }

                .item-count {
                    font-size: 12px;
                }
            }
        }
    }

    &-content {
        width: 100%;
        height: calc(100dvh - 85px);
        display: flex;
        flex-direction: column;
        padding: var(--core-spacing-800);
        gap: var(--core-size-600);
        overflow: auto;

        .demo-box {
            display: flex;
            flex-direction: column;
            width: 300px;
            background: var(--core-color-opacity-white-600);

            .margin-controller {
                background-color: var(--core-color-opacity-white-200);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px dotted var(--core-color);
                z-index: 8;
            }

            .padding-controller {
                position: relative;
                display: flex;
                width: 100%;
                height: 100px;
                background-color: var(--core-color-opacity-yellow-200);
                border: solid 1px var(--core-color-solid-slate-600);
                border-radius: var(--core-borderRadius-100);
                padding: 5px;
                justify-content: center;
                align-items: center;
                z-index: 9;
            }
        }

        .code-container {
            background-color: var(--semantic-color-slate-solid-surface-frame-low);
            display: flex;
            width: 100%;
            max-width: 500px;
            padding: var(--core-size-600);
            border-radius: var(--core-borderRadius-400);
            height: fit-content;
            min-height: 50px;

            .code-body {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: var(--core-size-600);
                background-color: var(--core-color-opacity-yellow-100);
                gap: var(--core-size-100);

                .code-item {
                    font-size: 14px;
                    font-family: 'Courier New', Courier, monospace;

                    &.comment {
                        color: gray;
                        font-size: 13px;
                        font-style: italic;
                    }
                }
            }
        }

        .page-container {
            display: flex;
            flex-direction: column;
        }
    }
}