@import "../lib/styles/reset.scss";
@import "@deriv-com/quill-tokens/dist/quill.css";

body,
.docs-story {
    background-color: var(--semantic-color-slate-solid-surface-frame-mid);
}

.wrapperClass {
    width: 640px;
    height: 200px;
}

#storybook-docs .docblock-argstable-body input[type="radio"] {
    appearance: revert;
    -webkit-appearance: radio;
}

#storybook-docs .docblock-argstable-body textarea {
    resize: both;
}
