
.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-dark {
    background-color: white;
    color: black;
  }
  
  .btn-light {
    background-color: black;
    color: white;
  }
  